<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer Disease Detection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="login">
        <h1>Alzheimer Disease Detection</h1>
        <form action="{{ url_for('predict_datapoint') }}" method="post">
            <h1>
                <legend>Alzheimer Disease Detection</legend>
            </h1>

            <div class="mb-3">
                <label class="form-label">Age</label>
                <input class="form-control" type="number" name="Age" placeholder="Enter your Age" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Gender (0 or 1)</label>
                <input class="form-control" type="number" name="Gender" placeholder="Enter your Gender" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Ethnicity (0-3)</label>
                <input class="form-control" type="text" name="Ethnicity" placeholder="Enter your Ethnicity" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Education Level (0-3)</label>
                <input class="form-control" type="text" name="EducationLevel" placeholder="Enter your Education Level" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">BMI</label>
                <input class="form-control" type="number" name="BMI" placeholder="Enter your BMI" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Smoking (0 for no, 1 for yes)</label>
                <input class="form-control" type="number" name="Smoking" placeholder="Enter Smoking status" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Alcohol Consumption</label>
                <input class="form-control" type="number" name="AlcoholConsumption" placeholder="Enter Alcohol Consumption" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Physical Activity</label>
                <input class="form-control" type="number" name="PhysicalActivity" placeholder="Enter Physical Activity" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Diet Quality</label>
                <input class="form-control" type="number" name="DietQuality" placeholder="Enter Diet Quality" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Sleep Quality</label>
                <input class="form-control" type="number" name="SleepQuality" placeholder="Enter Sleep Quality" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Family History of Alzheimer's (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="FamilyHistoryAlzheimers" placeholder="Enter Family History" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Cardiovascular Disease (0 for no, 1 for yes) </label>
                <input class="form-control" type="text" name="CardiovascularDisease" placeholder="Enter Cardiovascular Disease" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Diabetes (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="Diabetes" placeholder="Enter Diabetes status" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Depression (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="Depression" placeholder="Enter Depression status" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Head Injury (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="HeadInjury" placeholder="Enter Head Injury status" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Hypertension (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="Hypertension" placeholder="Enter Hypertension status" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Systolic BP</label>
                <input class="form-control" type="number" name="SystolicBP" placeholder="Enter Systolic BP" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Diastolic BP</label>
                <input class="form-control" type="number" name="DiastolicBP" placeholder="Enter Diastolic BP" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Cholesterol Total</label>
                <input class="form-control" type="number"  name="CholesterolTotal" placeholder="Enter Cholesterol Total" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Cholesterol LDL</label>
                <input class="form-control" type="number"  name="CholesterolLDL" placeholder="Enter Cholesterol LDL" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Cholesterol HDL</label>
                <input class="form-control" type="number"  name="CholesterolHDL" placeholder="Enter Cholesterol HDL" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Cholesterol Triglycerides</label>
                <input class="form-control" type="number"  name="CholesterolTriglycerides" placeholder="Enter Cholesterol Triglycerides" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">MMSE</label>
                <input class="form-control" type="number"  name="MMSE" placeholder="Enter MMSE score" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Functional Assessment</label>
                <input class="form-control" type="number"  name="FunctionalAssessment" placeholder="Enter Functional Assessment score" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Memory Complaints (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="MemoryComplaints" placeholder="Enter Memory Complaints" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Behavioral Problems (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="BehavioralProblems" placeholder="Enter Behavioral Problems" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">ADL</label>
                <input class="form-control" type="number" name="ADL" placeholder="Enter ADL score" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Confusion (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="Confusion" placeholder="Enter Confusion status" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Disorientation (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="Disorientation" placeholder="Enter Disorientation status" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Personality Changes (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="PersonalityChanges" placeholder="Enter Personality Changes" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Difficulty Completing Tasks (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="DifficultyCompletingTasks" placeholder="Enter Difficulty Completing Tasks status" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Forgetfulness (0 for no, 1 for yes)</label>
                <input class="form-control" type="text" name="Forgetfulness" placeholder="Enter Forgetfulness status" required>
            </div>

            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Predict Alzheimer Risk">
            </div>
        </form>
        <h2>{{ results }}</h2>
    </div>
</body>
</html>
